
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item"><a href="#/blog">Blog</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{blog.title}}</li>
  </ol>
</nav>
<hr/>

<div ng-controller="fbCtrl">
<ul class="list-inline">
  <li class="list-inline-item">Share:</li>
  <li class="list-inline-item"><a ng-click="share(post)">Facebook</a></li>
  <li class="list-inline-item"><a target="_blank" href="https://twitter.com/home?status=https%3A//maktabahsunnah.github.io/%23/blog/{{item.id}}">Twitter</a></li>
</ul>
</div>

<h5 class="text-center">{{blog.title}}</h5>
<br/>
<p>{{blog.author}}</p>
<p ng-bind-html="blog.desc"></p>
<p>{{blog.source}}</p>
