
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item"><a href="#/blog">Blog</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{blog.title}}</li>
  </ol>
</nav>
<hr/>
  
<ul class="list-inline">
  <li class="list-inline-item">Share:</li>
  <li class="list-inline-item"><a target="_blank" href="#/home">Facebook</a></li>
  <li class="list-inline-item"><a target="_blank" href="#/home">Twitter</a></li>
</ul>

<h5 class="text-center">{{blog.title}}</h5>
<br/>
<div ng-bind-html="blog.desc"></div>
