<div ng-controller="blogCtrl">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Blog</li>
  </ol>
</nav>
<hr/>
<p>Total Articles: <strong>{{totalBlog()}}</strong></p>

<br/>

<div ng-repeat="item in blog | orderBy:blog:reverse | filter : name" class="card">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{item.author}}</h6>
    <p class="card-text" ng-bind-html="item.desc | limitTo: 100"></p>
    <a href="#" class="card-link">Share</a>
    <a href="#/blog/{{item.id}}" class="card-link">Read more</a>
  </div>
</div>

</div>

