<div ng-controller="blogCtrl">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Blog</li>
  </ol>
</nav>
<hr/>
<p>Total Articles: <strong>{{totalBlog()}}</strong></p>


<table class="table table-striped">

<p ng-if="blog.length === 0">
 <span>loading...</span>
</p>

  <tr ng-repeat="item in blog | orderBy:blog:reverse | filter : name">
    <td>{{ $index + 1 }}</td>
    <td><a href="#/blog/{{item.id}}">{{item.title}}</a></td>
  </tr>
</table>

</div>

