  <div class="row align-middle">
    <div class="col">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Blog</li>
  </ol>
</nav>
    </div>
    <div class="col align-middle">
     <p class="text-right">Total Articles: <strong>{{totalBlog()}}</strong></p>
    </div>
  </div>

<hr/>

<div ng-repeat="item in blog" class="card">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{item.author}}</h6>
    <p class="card-text" ng-bind-html="item.desc | limitTo: 100"></p>
    <div class="btn-group dropright">
    <a role="button" href="#" class="card-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share</a>
    <a href="#/blog/{{item.id}}" class="card-link">Read more</a>
    </div>
  </div>
</div>


