
<div class="card" ng-controller="scholarListCtrl">

  <h5 class="align-middle card-header"><i class="fas fa-book"></i> Books <a href="#/scholars" class="float-right btn btn-primary">View all</a></h5>

  <div class="card-body">
  <ul ng-repeat="item in scholars | limitTo:4" class="list-group list-group-flush">
    <li class"list-group-item"><a href="#/scholars/{{item.id}}">{{item.name}}</a></li>
  </ul>
  </div>

</div>


<br/>

<div ng-controller="blogCtrl">
<div class="card">
  <h5 class="align-middle card-header"><i class="far fa-file-alt"></i> Articles <a href="#/blog" class="float-right btn btn-primary">View all</a></h5>
  <div ng-repeat="item in blog | limitTo:2" class="card-body">
    <h5 class="card-title"><a href="#/blog/{{item.id}}">{{item.title}}</a></h5>
    <p ng-bind-html="item.desc | limitTo: 20" class="card-text"></p>
  </div>
</div>
</div>


