

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Maktabah As-Sunnah</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#/home">Home</a>
        <a class="p-2 text-dark" href="https://instagram.com/alsalafiyyah" target="_blank">Instagram</a>
        <a class="p-2 text-dark" href="https://twitter.com/BintLopez" target="_blank">Twitter</a>
        <a class="p-2 text-dark" href="https://www.facebook.com/groups/MaktabahSunnah" target="_blank">Facebook</a>
      </nav>
      <a type="button" class="btn btn-light" href="#/scholars">Scholars</a>
    </div>
