<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#/scholars">Scholars</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{scholars.name}}</li>
  </ol>
</nav>
<hr/>

<div class="text-center">
 <h5>{{scholars.name}}</h5>
</div>
<br/>


<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="books.title in scholars">
      <td>{{scholars.books.title}}</td>
      <td><a href="#/scholars/{{scholars.id}}/{{scholars.url}}">Read</a></td>
    </tr>
  </tbody>
</table>

