<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#/scholars">Scholars</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{scholars.name}}</li>
  </ol>
</nav>
<hr/>

<div class="text-center">
 <h3>{{scholars.name}}</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>
	  
  <tr>
    <td>{{scholars.bookname}}</td>
    <td>
     <a role="button" class="btn btn-light" href="{{scholars.booklink}}"><span class="icon-file-pdf"></span> Download</a>
    </td>
  </tr>
	  
  </tbody>
</table>
