<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><span class="icon-quill"></span> Scholars</li>
  </ol>
</nav>
<hr/>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="javascript:void(0)">Total scholars: <strong>{{totalScholars()}}</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-link" href="" ng-click="scholar = '-name'; reverse=false">Newest</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-link" href="" ng-click="scholar = 'name'; reverse=false">Alphabetical</a>
  </li>
  <li class="nav-item">
    <input class="form-control" type="text" ng-model="name" placeholder="Search a scholar name...">
  </li>
</ul>
<br/>
<table class="table table-striped">
  <tr ng-repeat="item in scholars | orderBy:scholar:reverse | filter : name">
    <td>{{ $index + 1 }}</td>
    <td><a href="#/scholars/{{item.id}}">{{item.name}}</a></td>
  </tr>
</table>

