<style>
.d-flex {display:none! important;}
</style>

<nav class="fixed-top navbar navbar-light bg-light">
  <form class="form-inline">
  <a href="#/scholars/{{scholars.id}}"><i class="fas fa-angle-left"></i> back</a>
  <button ng-click="goPrevious()" type="button" class="btn btn-sm btn-secondary"><i class="fas fa-arrow-left"></i></button>
  <button ng-click="goNext()" type="button" class="btn-sm btn btn-secondary"><i class="fas fa-arrow-right"></i></button>
  <button ng-click="zoomIn()" type="button" class="btn-sm btn btn-secondary"><i class="far fa-plus-square"></i></button>
  <button type="button" class="btn-sm btn btn-secondary" ng-click="fit()"><span>100%</span></button>
  <button ng-click="zoomOut()" type="button" class="btn-sm btn btn-secondary"><i class="far fa-minus-square"></i></button>
  <input class="form-control" type="text" min=1 ng-model="pageNum">
  <span> / {{pageCount}}</span>
  </form>
</nav>


<div style="margin-top:60px;" class="text-center">
 <h5>{{scholars.books[0]}}</h5>
</div>
<br/>


{{loading}}

<canvas id="pdf" class="rotate0"></canvas>

