

<ol class="breadcrumb">
  <li>Total scholars: <strong>{{totalScholars()}}</strong></li>
  <li>Sort by: </li>
  <li><a href="" ng-click="scholar = '-name'; reverse=false">Newest</a></li>
  <li><a href="" ng-click="scholar = 'name'; reverse=false">Alphabetical</a></li>
</ol>


<div ng-repeat="item in scholars | orderBy:scholar:reverse">

<table class="table table-striped">
  <tr ng-repeat="item in scholars">
    <td>{{ $index + 1 }}</td>
    <td><span class="icon-quill"></span> <a href="#/scholars/{{item.id}}">{{item.name}}</a></td>
  </tr>
</table>

</div>

