<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#/scholars"><span class="icon-quill"></span> Scholars</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{scholars.name}}</li>
  </ol>
</nav>
<hr/>

<div class="text-center">
 <h5>{{scholars.name}}</h5>
</div>
<br/>

<ul class="list-unstyled" ng-repeat="books in scholars">

<li><a target="_blank" href="{{scholars.url[$index]}}}"{{scholars.books[$index]}}</a></li>

</ul>
