<style>
.d-flex {display:none! important;}
</style>


<nav class="fixed-top navbar navbar-light bg-light">
  <form class="form-inline btn-group" role="group">

<div class="input-group mb-3">
  <div class="input-group-prepend" id="button-addon3">
    <button ng-click="goPrevious()" class="btn btn-outline-secondary" type="button"><i class="fas fa-arrow-left"></i> Prev</button>
    <button ng-click="goNext()" class="btn btn-outline-secondary" type="button">Next <i class="fas fa-arrow-right"></i></button>
    <button ng-click="zoomIn()" class="btn btn-outline-secondary" type="button"><i class="far fa-plus-square"></i></button>
    <button ng-click="fit()" class="btn btn-outline-secondary" type="button"><span>100%</span></button>
    <button ng-click="zoomOut()" class="btn btn-outline-secondary" type="button"><i class="far fa-minus-square"></i></button>
  </div>
  <input type="text" min=1 ng-model="pageNum" class="form-control" aria-label="Example text with two button addons" aria-describedby="button-addon3">
</div>

</form>

</nav>

<div style="margin-top:80px;" class="text-center">
 <h5>{{scholars.books[0]}}</h5>
</div>
<br/>


{{loading}}

<canvas id="pdf" class="rotate0"></canvas>


<nav class="navbar-light bg-light nav justify-content-center fixed-bottom">
  <a role="button" class="nav-link" href="#/scholars/{{scholars.id}}"><i class="fas fa-angle-left"></i> Go back</a>
  <a class="nav-link" href="#">Share</a>
</nav>

