<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/favicon.ico">

    <title>Maktabah As-Sunnah</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/fonts/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>

  <body>
  <div ng-include="'assets/views/navbar.html'"></div>


    <div class="container" ng-controller="customersCtrl">
<div class="form-group"><input type="text" class="form-control" ng-model="Name" placeholder="Search a scholar name..."></div>
<br/>
<table class="table table-striped">
  <tr ng-repeat="x in names | filter:Name">
    <th scope="row">{{ $index + 1 }}</th>
    <td><span class="icon-quill"></span> <a href="{{ x.Link }}">{{ x.Name }}</a></td>
  </tr>
</table>

<div ng-include="'assets/views/footer.html'"></div>
    </div>



    <script src="assets/jquery-3.3.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/jquery-slim.min.js"><\/script>')</script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("assets/data/scholar-lists.html")
    .then(function (response) {$scope.names = response.data.records;});
});
</script>
  </body>
</html>
