@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ct311r');
  src:  url('fonts/icomoon.eot?ct311r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ct311r') format('truetype'),
    url('fonts/icomoon.woff?ct311r') format('woff'),
    url('fonts/icomoon.svg?ct311r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
}
.icon-quill:before {
  content: "\e901";
}
.icon-pdf .path1:before {
  content: "\e902";
  color: rgb(233, 233, 224);
}
.icon-pdf .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(217, 215, 202);
}
.icon-pdf .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(204, 75, 76);
}
.icon-pdf .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(204, 75, 76);
}
.icon-pdf .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pdf .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pdf .path7:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-magazine:before {
  content: "\e909";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-file-play:before {
  content: "\e929";
}
.icon-file-video:before {
  content: "\e92a";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-yt:before {
  content: "\ea9e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
