html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {

}
a {
  color: #003b00! important;
}
.container-fluid {
  background-image: url("pattern.png");
  background-repeat: repeat-x;
}
.container {
  max-width: 960px;
  margin-top: 10px;
  margin-bottom:70px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent!important;
    border-radius: 0!important;
}
